/* General Styles */
body {
  font-size: clamp(12pt, 1.75vw, 16pt);
  font-family: "Calibri", sans-serif;
}

/* Container for Two Columns */
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-content: center;
  gap: 5px;
}

/* Left Column Styling */
.left-column {
  flex: 1;
  padding: 10px;
  border: solid 1px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 85, 140, .5);
  background-image: url("../presentation/img/globe_bg_watermark_blue.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Right Column Styling */
.right-column {
  flex: 1;
  padding: 0px 10px;
  border: solid 1px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-image: url("../presentation/img/globe_bg_watermark.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Input Fields */
input {
  margin: 1px;
  padding: 2px 14px 2px 2px;
  border-radius: 2px;
  font-family: "Calibri", sans-serif;
  font-size: clamp(10pt, 1.25vw, 14pt);
  color: #474C55;
  box-shadow: 0 0 10px rgba(0, 85, 140, .5);
  width: 80px;
  border: solid 1px black;
}

/* Dropdown Options */
.dropdown-option {
  cursor: pointer;
  margin: 1px;
  padding: 2px 14px 2px 2px;
  border-radius: 2px;
  font-family: "Calibri", sans-serif;
  font-size: clamp(14pt, 2vw, 18pt);
  box-shadow: 0 0 10px rgba(0, 85, 140, .5);
  border: solid 1px black;
  font-weight: bold;
}

/* Styling for Button Elements */
button.showhide {
  font-family: "Calibri", sans-serif;
  font-size: clamp(14pt, 2vw, 18pt);
  font-weight: bold;
  cursor: pointer;
  padding: 0px 5px 0px 5px;
  background-color: #319B42;
  color: white;
  border: none;
  border-radius: 5px;
}
button.showhide:hover {
  background-color: #50C763;
}
button.showhide:active {
  background-color: #ED722F;
}

/* Header Elements */
h1 {
  margin-top: 6px;
  margin-bottom: 0px;
  font-family: "Calibri", sans-serif;
  text-decoration: underline;
}
.heading {
  display: flex;
  align-items: center;
}

/* Script Type and Toggle */
.hidden, .single, .SENIOR, .nochildren, .union {
  display: none;
}
.script-content {
  padding-top: 100px;
}
.phone-step-container {
  margin: 20px 0;
}

/* Phone Steps */
.phone-step {
  font-weight: bold;
  color: #474c55;
  opacity: .5;
  text-decoration: underline;
  font-size: clamp(14pt, 2vw, 18pt);
}

/* Grid Layout for Steps */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.item {
  text-align: center;
}
.middle {
  grid-column: 2;
}

/* Centering Elements */
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Checkbox Styling */
.checkbox-container {
  display: inline-block;
}
.cb-text {
  font-size: clamp(10pt, 1.25vw, 14pt);
  padding: 0px 8px 0px 3px;
  color: #319B42;
  font-weight: bold;
}

/* Specific Character Styling */
.TECHNICALChar, .VERBALChar, .NON-VERBALChar, .ConditionalChar {
  font-family: "Calibri", sans-serif;
  font-weight: bold;
}
.TECHNICALChar {
  color: #319B42;
}
.VERBALChar {
  color: #00558C;
}
.NON-VERBALChar {
  color: #ED722F;
}
.ConditionalChar {
  color: #B25271;
}

/* Adjusting for Mobile Devices */
@media (max-device-width: 1920px) {
  .phone-step {
    font-size: clamp(11pt, 1.75vw, 16pt);
  }
  input, .dropdown-option, .cb-text, button.showhide {
    font-size: clamp(8pt, 1.5vw, 12pt);
  }
  body {
    font-size: clamp(10pt, 1.5vw, 14pt);
  }
}
@media (max-device-width: 1366px) {
  .phone-step {
    font-size: clamp(9pt, 1.5vw, 12pt);
  }
  input {
    padding: 2px 10px 2px 2px;
    font-size: clamp(7pt, .75vw, 10pt);
    width: 60px;
  }
  body, .dropdown-option, .cb-text, button.showhide {
    font-size: clamp(8pt, 1.25vw, 11pt);
  }
}
