body {
    font-family: 'Public Sans', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phone-step-container {
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #ccc;
    width: 90%;
    border-radius: 5px;
}

.phone-step {
    font-weight: bold;
    font-size: 1.2em;
}

.VERBALChar {
    font-weight: 700;
    color: #333;
}

span.couple {
    font-style: italic;
}

/* Add more styles as necessary */
